<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2019. SCODEID
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.scodeid.scholarshipexpertscodeidev2019personal">
    <uses-permission android:name="android.permission.INTERNET"/>  <!-- an image in favorite using url link -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- provider -->
    <uses-permission
            android:name="com.scodeid.scholarshipexpertscodeidev2019.homeFavorite.READ_DATABASE"/>
    <uses-permission
            android:name="com.scodeid.scholarshipexpertscodeidev2019.homeFavorite.WRITE_DATABASE"/>

    <application
            android:icon="@mipmap/ic_launcher_personal"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_personal_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".homeFavorite.MainFavoriteTvDetailActivity">
        </activity>
        <activity android:name=".homeFavorite.MainFavoriteTvActivity">
        </activity>
        <activity android:name=".homeFavorite.MainFavoriteMovieDetailActivity">
        </activity>
        <activity android:name=".homeFavorite.MainFavoriteMovieActivity">
        </activity>


    </application>

</manifest>