<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.scodeid.scholarshipexpertscodeidev2019">
    <!--  -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@mipmap/ic_launcher_movie"
            android:label="@string/app_name_submission_1"
            android:roundIcon="@mipmap/ic_launcher_movie_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".submission.submission4.MainFavoriteMovieRoomDeleteActivity">
        </activity>
        <activity android:name=".submission.submission4.MainFavoriteMovieRoomActivity">
        </activity>
        <activity android:name=".submission.submission4.MainFavoriteTvDeleteActivity">
        </activity>
        <activity android:name=".submission.submission4.MainFavoriteTvActivity">
        </activity>
        <activity android:name=".submission.submission4.MainFavoriteMovieDeleteActivity">
        </activity>
        <activity android:name=".submission.submission4.MainFavoriteMovieActivity">
        </activity>
        <activity android:name=".submission.notification.NoInternetConnActivity">
        </activity>
        <!--
                _               _         _               ____
     ___ _   _| |__  _ __ ___ (_)___ ___(_) ___  _ __   |___ \
    / __| | | | '_ \| '_ ` _ \| / __/ __| |/ _ \| '_ \    __) |
    \__ \ |_| | |_) | | | | | | \__ \__ \ | (_) | | | |  / __/
    |___/\__,_|_.__/|_| |_| |_|_|___/___/_|\___/|_| |_| |_____|

    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    | Submission Activity | Using Kotlin                     |
    | Learning Android Be Expert @decoding.com ✓ almost done |
    | Inspection Code : none                                 |
    |                         (C) 2019 SCODEID               |
    |=========================================================
        -->
        <!-- android:label="@string/title_activity_movie_catalogue_main" -->
        <activity
                android:name=".submission.MovieCatalogueMainActivity"
                android:label="@string/app_name_submission_1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".submission.notification.ComingSoonActivity">
        </activity>
        <activity
                android:name=".submission.MovieCatalogueDetailActivity"
                android:label="@string/title_activity_movie_catalogue_detail"
                android:theme="@style/FullscreenTheme">
        </activity>
    </application>

</manifest>